.tab-product {
    justify-content: space-between;
    overflow: hidden;
    .nav-link {
        border: 0;
        border-radius: 0!important;
        background-color: transparent;
        font-size: 20px;
        outline: none;
    }

    .nav-link.active {
        color: inherit!important;
        background: #DAE6F2!important;
    }

    
 
}


.tabs-modif {
	display: flex;
	align-items: center;
    justify-content: center;
	background-color: #E8E8E8;
    padding: 10px 0;
    span {
        font-size: 18px;
        margin-right: 10px;    
    }

    .nav-pills .nav-link.active {
        background-color: transparent;
        color: #212529;
    }

    .nav-pills .nav-link {
        border-radius: 0;
        color: #6e6e6e;
        outline: none;
        font-size: 20px;
    }

    .nav-link {
        background-color: transparent;
        border: 0;
      
    }

    .nav-link.active {
       
        border-bottom: 3px solid #212529;;
    }
}
